.side-bar
  .header
    .top-items
      古橋正明
      .top-items__icons
        = link_to new_group_path do
          = icon('fas','edit')
          -# %i.fa.fa-pencil-square-o.header-items__icons--pen.icon
        = link_to edit_user_path(current_user.id) do
          = icon('fas','cog')
          -# %i.fa.fa-cog.header-items__icons--cog.icon

  .side-bar__groups-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。